<div class="container">
    
    <div class="row">

        

        <div class="col-md-6" data-aos="fade-up">

            <h3 class="subtitulo p-4">Formación académica</h3>

            <div class="bloque-experiencia">
                <div class="titulo-experiencia">Lic. en Administración de Tecnologías de la Información</div>
                <div class="item-experiencia">
                    <p class="text-muted"><strong>2018 - presente</strong></p>
                    <p><em>Universidad Nacional de José Clemente Paz, UNPAZ</em></p>
                    <p>
                        Me encuentro en una instancia avanzada de la carrera y a pocas materias de obtener el título de pregrado de Analista Programador Universitario
                    </p>
                </div>
            </div>
            <br>
            <div class="bloque-experiencia">
                <div class="titulo-experiencia">Analista certificado- Plan 111Mil Java y SQL</div>
                <div class="item-experiencia">
                    <p class="text-muted"><strong>2019</strong></p>
                    <p><em>Ministerio de Ciencia y Tecnología <br>Ministerio de Desarrollo Productivo</em></p>
                    <p>
                        Participé, aprobé y fuí certificado en el Plan 111Mil donde se evaluaron mis competencias en POO, entorno Java y gestión de Base de Datos con lenguaje SQL                    
                    </p>
                    <p>
                        Detalles de los contenidos recibidos y evaluados:
                        <a href="https://github.com/111milprogramadores">https://github.com/111milprogramadores</a>
                    </p>
                </div>
            </div>
            
        </div>

        <div class="col-md-6" data-aos="fade-up">

            <h3 class="subtitulo p-4">Cursos, talleres y seminarios</h3>



            <div class="bloque-experiencia">
                <strong>Formulación y desarrollo de Emprendimientos</strong>
                    
                <div class="item-experiencia">
                    <p><em>Universidad Nacional de Jose C. Paz</em></p>
                    <p>Seminario taller de 32 horas. <br>Análisis, diseño, creación y puesta en marcha de proyectos de negocio</p>
                </div>
            </div>
            <br>
            <div class="bloque-experiencia">
                <strong>Programación Web</strong>
                <div class="item-experiencia">
                    <p><em>Centro de formación profesional Nro 402-JCP</em></p>
                    <p>HTML, CSS y JS para desarrollo de sitios web</p>
                </div>
            </div>
            <br>
            <div class="bloque-experiencia">
                <strong>Diseño Gráfico digital I</strong>
                <div class="item-experiencia">
                    <p><em>Centro de formación profesional Nro 402-JCP</em></p>
                    <p>Conocimientos en plataforma Corel</p>
                </div>
            </div>
            <br>
            <div class="bloque-experiencia">
                <strong>Electrónica digital</strong>
                <div class="item-experiencia">
                    <p><em>Centro de formación profesional Nro 402-JCP</em></p>
                    <p>Conceptos escenciales de electŕonica, circuitos integrados, armado y reparación de componentes.</p>
                </div>
            </div>
            <br>
            <div class="bloque-experiencia">
                <strong>Inglés</strong>
                <div class="item-experiencia">
                    <p><em>Centro Universitario de idiomas (CUI-UBA)</em></p>
                    <p>Diploma Ciclo Básico DCB-A2</p>
                </div>
            </div>
            <br>

        </div>
    </div>
</div>