<div class="container contenedor" data-aos="fade-up">
    <div class="row">

            <div class="col-md-8">
                <div class="contenedor-titulos">
                    <h3 class="subtitulo">Bienvenidos a mi CV</h3>
                    <h4>German Benitez</h4>
                    <h5 class="text-muted"><em>Técnico IT & Programador Jr.</em></h5>
                </div>                
            </div>

            <div class="col-md-4">

                <div class="contenedor-links">
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                        <strong> Linkedin: </strong>
                        <a href="https://www.linkedin.com/in/maurogermanbe/">Visitar</a>
                    </p>
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                        <strong> Web Site: </strong>
                        <a href="https://blursoftware.com.ar">blursoftware.com.ar</a>
                    </p>
    
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                        <strong> Github: </strong>
                        <a href="https://github.com/MauroMauro">Visitar</a>
                    </p>
    
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                        <strong> Mail: </strong>
                        <a href="mailto: blur.benitez@gmail.com">blur.benitez@gmail.com</a>
                    </p>
                </div>
                

            </div>


    </div>
</div>