<div class="container contenedor">

    <div class="container pt-4">
        <h3 class="pb-4">Mis emprendimientos</h3>
    </div>

    <div class="row">

        <div class="col-md-6 p-6 d-flex flex-column position-static" style="text-align: center; margin-bottom: 70px;">
            <div class="card-header">
                <a href="https://lamassolucionesinformaticas.neocities.org/" target="_blank">
                    <img src="assets/img/lamas.png" width="200" height="200">
                </a>

                <h6 class="my-0 font-weight-normal"><br>Servicio técnico</h6>
            </div>
            <div class="card-body">
                <p>Diagnóstico y reparación de equipos informáticos.
                </p>
            </div>
        </div>


        <div class="col-md-6 p-6 d-flex flex-column position-static" style="text-align: center; margin-bottom: 70px;">
            <div class="card-header">
                <a href="https://blursoftware.com.ar" target="_blank">
                    <div class="container" style="height: 200px; padding-top: 20%;">
                        <img src="assets/img/logoLetrasNegras.png" width="50%" height="auto">
                    </div>
                </a>

                <h6 class="my-0 font-weight-normal"><br>Desarrollo web</h6>
            </div>
            <div class="card-body">
                <p>Diseño y desarrollo sitios web a medida desde cero.
                    Realizo la optimización SEO desde la escritura del código hasta la redacción de contenidos.
                    También llevo a cabo labores de alta en la web como alta de dominio, contrato de hosting para alojamiento y alta de certificados SSL. 
                </p>
            </div>
        </div>



    </div>




</div>