<div class="container contenedor">
    
    <div class="row">

        <h3 class="subtitulo pt-4 pb-4">Experiencia profesional</h3>

        

        <div data-aos="fade-up">

            <div class="row">
                <div class="col-md-4">
                    <div class="titulo-experiencia">TÉCNICO IT</div>
                    <em>Correo Argentino - Malvinas Argentinas, PBA</em>
                    <p class="text-muted"><strong>2021 - presente</strong></p>

                </div>
                <div class="col-md-8">
                    <div class="bloque-experiencia">
                        <div class="item-experiencia">

                            <p>
                                <img src="assets/img/logoStefanini.jpeg" alt="Stefanini" class="img-responsive pr-3" width="50px" height="auto">

                                <em>Stefanini LATAM</em>
                            </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Soporte técnico OnSite</p>
                            <p><i class='bx bx-chevron-right-circle'></i> Testeo, configuración, masterización y preparación de equipos informáticos, modems, impresoras y laptops </p>
                            
                        </div>
                    </div>
                </div>

            </div>
            

            <br>

            <div class="row pt-4">
                <div class="col-md-4">
                    <div class="titulo-experiencia">Desarrollador front-end Jr.</div>
                    <p class="text-muted"><strong>2019 - presente</strong></p>
                </div>
                <div class="col-md-8">
                    <div class="bloque-experiencia">
                        <div class="item-experiencia">

                            <p>
                                <img src="assets/img/logoLetrasNegras.png" alt="Stefanini" class="img-responsive pr-3" width="100px" height="auto">

                                <em>De forma independiente en Blur Software</em>
                            </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Diseño y desarrollo de sitios web a medida desde cero</p>
                            <p><i class='bx bx-chevron-right-circle'></i> Optimización SEO desde la escritura del código hasta la redacción de contenidos </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Labores de alta en la web: alta de dominio, contrato de hosting para alojamiento, alta de certificados SSL. </p>

                            <p><i class='bx bx-chevron-right-circle'></i> Trabajos variados de diseño visual: logos, interfaces, avisos e infografías</p>
                            <p><i class='bx bx-chevron-right-circle'></i> Trabajos de traducción y redacción de artículos y documentos </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Revisión de código de terceros para resolver defectos o mejorarlo, manteniendo funcionales los sites y las aplicaciones, corrigiendo errores e implementando nuevas características </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Tecnologías utilizadas: HTML, CSS, JS, Bootstrap, Angular</p>
                            <p><i class='bx bx-chevron-right-circle'></i> Herramientas y recursos utilizados: Visual Studio Code, Gimp, Inkscape, Corel Graphic Suite</p>
                            <p><i class='bx bx-chevron-right-circle'></i> Documentación MDN, C3S.org como base de consulta</p>
                        </div>
                    </div>
                </div>

            </div>
            

            <br>

            <div class="row pt-4">
                <div class="col-md-4">
                    <div class="titulo-experiencia">Técnico Informático</div>
                    <p class="text-muted"><strong>2017 - 2021</strong></p>
                </div>
                <div class="col-md-8">
                    <div class="bloque-experiencia">
                        <div class="item-experiencia">
                            <p>
                                <img src="assets/img/lamas.png" alt="Stefanini" class="img-responsive pr-3" width="100px" height="auto">

                                <em>De forma independiente en Lamas Soluciones Informáticas</em>
                            </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Armado y reparación de equipos informáticos, PC y Laptop </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Instalación de sistemas operativos y resolución de fallas </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Armado de infraestructura de terminales  </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Revisión de Hardware y Software con fines preventivos </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Optimización de sistemas preinstalados </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Backups y recuperación de datos </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Instalación y configuración de equipos de soporte (routers, estabilizadores), instalaciones eléctricas, electrónicas, control de terminales y cableado estructurado</p>
                       </div>
                    </div>
                </div>

            </div>



            <br>

            <div class="row pt-4">
                <div class="col-md-4">
                    <div class="titulo-experiencia">Operario administrativo</div>
                    <em>Villa del Parque - CABA</em>
                    <p class="text-muted"><strong>2009 - 2017</strong></p>
                </div>
                <div class="col-md-8">
                    <div class="bloque-experiencia">
                        <div class="item-experiencia">
                            <p><em> Operario de sector de ventas y administración en Colonial Gastronómica</em></p>
                            
                            <p><i class='bx bx-chevron-right-circle'></i> Carga y mantenimiento de las operaciones  </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Apoyo administrativo al sector de producción  </p>

                            <p><i class='bx bx-chevron-right-circle'></i> Dominio de programas de ofimática para creación de reportes de cobranzas y desviaciones, informes de facturación y detalles de gastos </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Trato telefónico y personal con clientes y proveedores. Resolución de incidencias por reclamos </p>
                        </div>
                    </div>
                </div>

            </div>




            <br>


            <div class="row pt-4">
                <div class="col-md-4">
                    <div class="titulo-experiencia">Operario de depósito </div>
                    <em>Villa del Parque - CABA</em>
                    <p class="text-muted"><strong>2007 - 2009</strong></p>
                </div>
                <div class="col-md-8">
                    <div class="bloque-experiencia">
                        <div class="item-experiencia">
                            <p><em> Operario de depósito en Colonial Gastronómica</em></p>
                            <p><i class='bx bx-chevron-right-circle'></i> Armado de pedidos, control de stock, carga y descarga de paquetes, embalaje y movimiento de mercaderías  </p>
                            <p><i class='bx bx-chevron-right-circle'></i> Variadas tareas de mantenimiento  </p>
                        </div>
                    </div>
                </div>

            </div>

            <br>
           
        </div>
       
    </div>
</div>