<div class="container contenedor">

    <div class="container pt-4">
        <h3>Habilidades técnicas</h3>
    </div>

    <div class="container">

        <div class="subtitulo">Desarrollo Web</div>
        <div class="row">

            <div class="col-md-6 " data-aos="fade-up" data-aos-delay="100">

                <div class="pb-4 pt-4">
                    <span>HTML, CSS, JS</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Bootstrap</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Angular</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>


            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="descripcion">
                    Diseño y desarrollo sitios web a medida desde cero.<br>
                    Realizo la optimización SEO desde la escritura del código hasta la redacción de contenidos.<br>
                    También llevo a cabo labores de alta en la web como alta de dominio, contrato de hosting para alojamiento y alta de certificados SSL.                 
                </div>   
            </div>
        </div>



        <div class="subtitulo">Java</div>
        <div class="row">

            <div class="col-md-6 " data-aos="fade-up" data-aos-delay="100">

                <div class="pb-4 pt-4">
                    <span>Java SE</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Eclipse IDE</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Testing con Junit</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                


            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="descripcion">
                    Construyo aplicaciones completas desde cero aplicando prácticas estandar para desarrollo de software de calidad.   </div>   
            </div>
        </div>



        <div class="subtitulo">Base de datos</div>
        <div class="row">

            <div class="col-md-6 " data-aos="fade-up" data-aos-delay="100">

                <div class="pb-4 pt-4">
                    <span>Lenguaje de consultas estructurado - SQL</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>SQLite</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>MySQL - Workbench</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>SQL Server</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>


            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="descripcion">
                    Diseño y construyo bases de datos para integrar a aplicaciones de escritorio. Elaboro los DER e implemento con SQLite y MySQL la incorporación al código de sentencias CRUD SQL.
                </div>   
            </div>
        </div>


        <div class="subtitulo">Ingeniería del software</div>
        <div class="row">

            <div class="col-md-6 " data-aos="fade-up" data-aos-delay="100">

                <div class="pb-4 pt-4">
                    <span>Proceso Unificado y UML</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Herramienta de control de versiones Github</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Programación orientada a objetos</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="descripcion">
                    Desarrollo aplicaciones y componentes según los métodos y procedimientos del Proceso Unificado. 
                    Aplicando buenas prácticas de programación, llevo adelante proyectos de software de calidad. 
                    <br>Elaboro documentación requerida según los estándares actuales. 
                    <br>Para gestión de versiones y repositorios utilizo Github como plataforma principal.
                </div>   
            </div>
        </div>

        <div class="subtitulo">Hardware</div>
        <div class="row">

            <div class="col-md-6 " data-aos="fade-up" data-aos-delay="100">

                <div class="pb-4 pt-4">
                    <span>Electrónica digital</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Desarrollos sobre placas Open-hard - Arduino</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>  

                <div class="pb-4">
                    <span>Diagnóstico y reparación de equipos informáticos</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="descripcion">
                    En el plano laboral aplico estas competencias en el ensamblado, diagnóstico y reparación de equipos informáticos 
                    como computadoras de escritorio y laptops. Eventualmente realizo la organización de cableados y conexiones.<br>

                </div>   
            </div>
        </div>




        <div class="subtitulo">Diseño digital</div>
        <div class="row">

            <div class="col-md-6 " data-aos="fade-up" data-aos-delay="100">

                <div class="pb-4 pt-4">
                    <span>Corel Graphic Suite</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Gimp</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Inkscape</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="descripcion">
                    Diseño vectores para íconos e ilustraciones para promoción, infografías y utilidades varias. Soluciones orientadas al atractivo visual y la facilidad de comprensión.
                </div>   
            </div>
        </div>





        <div class="subtitulo">Varios</div>
        <div class="row">

            <div class="col-md-6 " data-aos="fade-up" data-aos-delay="100">

                <div class="pb-4 pt-4">
                    <span>Inglés - Lecto-comprensión y redacción</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Excel</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>  

                <div class="pb-4">
                    <span>Habilidades para soporte técnico y asesoramiento</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="pb-4">
                    <span>Experiencia tratando con clientes y proveedores</span>
                    <div class="progress  rounded-0">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="descripcion">

                </div>   
            </div>
        </div>



        



    </div>


</div>