/*--------------------------------------------------------------
# Colores
--------------------------------------------------------------*/
:root {

    --principal: #267599;
    --principal-oscuro: rgb(54, 77, 119);
    --secundario: rgb(67, 69, 73);
    --secundario-oscuro: rgb(53, 55, 58);
  }

/*---------------------------------------------------------
# General
----------------------------------------------------------*/
.contenedor-titulos {
  padding: 10%;
  padding-top: 20%;
}
.contenedor-titulos h4{
  font-size: 3rem;
}

.contenedor-links {
  padding: 10%;
  padding-top: 30%;
}

i {
  color: var(--principal);
}

