<div class="container contenedor" data-aos="fade-up">
    <div class="row justify-content-center">

        

        <div class="col-md-8">
            <div class="p-4">
                <h3 class="subtitulo">Bienvenidos a mi CV</h3>
                <h4>German Benitez</h4>
                <h5 class="text-muted"><em>Técnico IT & Programador Jr.</em></h5>
            </div>

            <div class="row p-4">
    
                <div class="col-md-6">
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                    <strong> Ciudad: </strong> José Clemente Paz, Provincia de Buenos Aires, Argentina
                    </p>
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                    <strong> Nacionalidad: </strong> Argentino
                    </p>
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                    <strong> Formación: </strong> Universitario
                    </p>

                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                    <strong> Movilidad: </strong> Carnet B.2 y vehículo propio
                    </p>

                </div>
    
                <div class="col-md-6">
                    <p>
                    <i class='bx bx-chevron-right-circle'></i>
                    <strong> Linkedin: </strong>
                    <a href="https://linkedin.com">Visitar</a>
                    </p>
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                    <strong> Web Site: </strong>
                    <a href="https://blursoftware.com.ar">blursoftware.com.ar</a>
                    </p>
                    <p>
                        <i class='bx bx-chevron-right-circle'></i>
                    <strong> Mail: </strong>
                    <a href="blur.benitez@gmail.com">blur.benitez@gmail.com</a>
                    </p>
                </div>
    
            </div>
             
    
        </div>  

        <div class="col-md-4">
            <img src="/src/app/img/foto-perfil-large.JPG" class="img-responsive center-block" alt="">
        </div>


    </div>
</div>