/*--------------------------------------------------------------
# Colores
--------------------------------------------------------------*/
:root {

    --principal: #267599;
    --principal-oscuro: rgb(54, 77, 119);
    --secundario: rgb(67, 69, 73);
    --secundario-oscuro: rgb(53, 55, 58);
  }

/*---------------------------------------------------------
# General
----------------------------------------------------------*/
