<div class="container contenedor">

    <div class="container pt-4">
        <h3 class="pb-4">Trabajos destacados</h3>
    </div>

    <div class="container">


        <div class="row">


            <!-- Trabajo 1 -->
            <div class="col-md-4 pt-4" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                <div class="content">
                    <div class="caja-imagenes">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/fbe74895317635.5e94c9fb4b4c2.jpg" alt="Imagen" class="img-fluid"
                            width="100%">

                        <div class="overlay">

                        </div>

                        <div class="texto-imagenes">

                            <h3>Brand Identity</h3>
                            <p class="nombre-categoria">Diseño Gráfico</p>
                            <p class="lead">Taller DosGrillos</p>
                            

                            <div class="icono">
                                <i class="bx bx-plus float-left" title="Ver detalle" data-toggle="modal"
                                    data-target="#producto1"></i>
                                <a href="https://www.behance.net/gallery/95317635/Brand-Identity-Dos-Grillos-Workshop" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance float-right' ></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Trabajo 2 -->
            <div class="col-md-4 pt-4" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                <div class="content">
                    <div class="caja-imagenes">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/bc841896016733.5ea4cd1f5b1ee.jpg" alt="Imagen" class="img-fluid"
                            style="width:100%">

                        <div class="overlay">

                        </div>

                        <div class="texto-imagenes">

                            <h3>Ilustraciones</h3>
                            <p class="nombre-categoria">Diseño Gráfico</p>
                            <p class="lead">Láminas del alfabeto</p>

                            <div class="icono">
                                <i class="bx bx-plus float-left" title="Ver detalle" data-toggle="modal"
                                    data-target="#producto2"></i>
                                <a href="https://www.behance.net/gallery/96016733/Figuras-del-alfabeto-para-app-educativa?tracking_source=project_owner_other_projects" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance float-right' ></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Trabajo 3 -->
            <div class="col-md-4 pt-4" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                <div class="content">
                    <div class="caja-imagenes">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/de754d101228133.5f19d746ae6bf.png" alt="Imagen" class="img-fluid"
                            width="100%">

                        <div class="overlay">

                        </div>

                        <div class="texto-imagenes">

                            <h3>Ilustraciones</h3>
                            <p class="nombre-categoria">Diseño Gráfico</p>
                            <p class="lead">Infografías</p>

                            <div class="icono">
                                <i class="bx bx-plus float-left" title="Ver detalle" data-toggle="modal"
                                    data-target="#producto3"></i>
                                <a href="https://www.behance.net/gallery/101228133/Cinema-women-illustrations" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance float-right' ></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <!-- Trabajo 4 -->
            <div class="col-md-4 pt-4" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                <div class="content">
                    <div class=" card caja-imagenes">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/2041b2105672413.5f7e1b1fbbce7.png" alt="Imagen" class="img-fluid"
                            width="100%">

                        <div class="overlay">

                        </div>

                        <div class="texto-imagenes">

                            <h3>Ilustraciones</h3>
                            <p class="nombre-categoria">Diseño Gráfico</p>
                            <p class="lead">Imágenes para promoción</p>

                            <div class="icono">
                                <i class="bx bx-plus float-left" title="Ver detalle" data-toggle="modal"
                                    data-target="#producto4"></i>
                                <a href="https://www.behance.net/gallery/105672413/Illustrations-for-website" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance float-right' ></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>








        </div>






        <!-- Modales -->
        <div class="modales">

            <!-- Modal trabajo 1 -->
            <div class="modal fade" id="producto1" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h3>Restyling de marca</h3>
                            <div class="text-center">Diseño gráfico</div>
                            <br>
                            <p class="text-center text-muted font-italic">Cliente: Taller DosGrillos
                            </p>
                        </div>

                        <div class="card">
                            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/abd92395317635.5e94c9fb4bc28.jpg" alt="" height="auto" width="100%" >
                        </div>

                        <div class="especificaciones text-muted">
                            <p>

                                Me fue solicitada la creación de tarjetas de presentación para el taller de adornos artesanales Dos Grillos.<br>
                                Presenté, además, un esquema de hojas para presupuesto y facturación que gustaron mucho al cliente y también fueron aceptadas.<br>
                                El primer paso fue hacer un restyling del logotipo del comercio. Líneas discretas y minimalistas resultaron adecuadas para reflejar la seriedad de la marca.<br>
                                Este logotipo iría impreso en el packaging de cada producto elaborado. Los materiales que solían utilizar para envolver sus productos eran cajas de cartón en crudo y papel madera como envoltorio de elementos pequeños.
                                Presenté un esquema donde el cliente pudo apreciar el aspecto del logo impreso en los materiales de empaquetado.<br>
                                Tanto para las tarjetas como para las hojas de administración, usé un esquema de colores sobrio pero luminoso. La información que me fue requerida presentar quedó muy bien distribuida de manera clara y con una visual atractiva y profesional.<br>

                            </p>
                            <div class="container text-muted text-center">
                                <a href="https://www.behance.net/gallery/95317635/Brand-Identity-Dos-Grillos-Workshop" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance display-4 text-muted' ></i></a>
                                <p>Ver en Behance</p>

                            </div>
                            
                            
                        </div>

                        <div class="boton-volver">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal trabajo 2 -->
            <div class="modal fade" id="producto2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h3>Ilustraciónes para laminas del alfabeto</h3>
                            <div class="text-center">Diseño gráfico</div>
                            <br>
                            <p class="text-center text-muted font-italic">App Didáctica - Side Project
                            </p>
                        </div>

                        <div class="row p-4">
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/08a5d896016733.5ea4cd1f5abb8.jpg" alt="" height="auto" width="100%" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/ef731196016733.5ea4cd1f5c33f.jpg" alt="" height="auto" width="100%" >
                                </div>
                            </div>
                        </div>
                        

                        <div class="especificaciones text-muted">
                            <p>

                                Laminas con figuras del alfabeto para integrar a juego educativo.
                            </p>
                            <div class="container text-muted text-center">
                                <a href="https://www.behance.net/gallery/96016733/Figuras-del-alfabeto-para-app-educativa?tracking_source=project_owner_other_projects" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance display-4 text-muted' ></i></a>
                                <p>Ver en Behance</p>

                            </div>
                            
                            
                        </div>

                        <div class="boton-volver">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal trabajo 3 -->
            <div class="modal fade" id="producto3" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h3>Ilustraciones para infografías</h3>
                            <div class="text-center">Diseño gráfico</div>
                            <br>
                            <p class="text-center text-muted font-italic">Ilustraciones
                            </p>
                        </div>

                        <div class="row p-4">
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/fdc4b7101228133.5f19d746adfe4.png" alt="" height="auto" width="100%" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/7958f1101228133.5f19d746af3e8.png" alt="" height="auto" width="100%" >
                                </div>
                            </div>
                        </div>
                        

                        <div class="especificaciones text-muted">
                            <p>

                                Ilustraciones para promoción.
                            </p>
                            <div class="container text-muted text-center">
                                <a href="https://www.behance.net/gallery/101228133/Cinema-women-illustrations" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance display-4 text-muted' ></i></a>
                                <p>Ver en Behance</p>

                            </div>
                            
                            
                        </div>

                        <div class="boton-volver">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal trabajo 4 -->
            <div class="modal fade" id="producto4" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h3>Ilustraciones para promoción</h3>
                            <div class="text-center">Diseño gráfico</div>
                            <br>
                            <p class="text-center text-muted font-italic">Ilustraciones
                            </p>
                        </div>

                        <div class="row p-4">
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/cec971105672413.5f7e1b1fbb234.png" alt="" height="auto" width="100%" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/4b445c105672413.5f7e1b1fba909.png" alt="" height="auto" width="100%" >
                                </div>
                            </div>
                        </div>
                        

                        <div class="especificaciones text-muted">
                            <p>

                                Ilustraciones para promoción.
                            </p>
                            <div class="container text-muted text-center">
                                <a href="https://www.behance.net/gallery/105672413/Illustrations-for-website" target="_blank" title="Ver en Behance"><i
                                    class='bx bxl-behance display-4 text-muted' ></i></a>
                                <p>Ver en Behance</p>

                            </div>
                            
                            
                        </div>

                        <div class="boton-volver">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- fin Modales-->

        
        



    </div>
</div>
