<div class="container contenedor">

    <div class="container pt-4">
        <h3>Trabajos destacados</h3>
    </div>

    <div class="container">


        <div class="row">


            <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                <div class="content">
                    <div class="caja-imagenes">
                        <img src="../../../assets/img/hero-bg.jpg" alt="Imagen" class="img-fluid"
                            width="100%">

                        <div class="overlay">

                        </div>

                        <div class="texto-imagenes">

                            <p>Almohadon estampado</p>
                            <p class="lead">CUADRADO SIMPLE</p>

                            <div class="icono">
                                <i class="bx bx-plus" title="Ver detalle" data-toggle="modal"
                                    data-target="#producto1"></i>
                                <a href="https://www.google.com" title="Ver en Facebook"><i
                                        class="bx bxl-facebook-circle"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="column organizadores " data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                <div class="content">
                    <div class="caja-imagenes">
                        <img src="img/producto-organizador-redondo.webp" alt="Mountains" class="img-fluid"
                            style="width:100%">

                        <div class="overlay">

                        </div>

                        <div class="texto-imagenes">

                            <p>Organizador estampado</p>
                            <p class="lead">REDONDO</p>

                            <div class="icono">
                                <i class="bx bx-plus" title="Ver detalle" data-toggle="modal"
                                    data-target="#producto2"></i>
                                <a href="https://www.facebook.com/carlos.villalba.9231712" title="Ver en Facebook"><i
                                        class="bx bxl-facebook-circle"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>






        <!-- Modales -->
        <div class="modales">
            <div class="modal fade" id="producto1" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h3>Almohadón estampado</h3>
                            <div class="text-center text-muted font-italic">Almohadón cuadrado con motivos nórdicos</div>
                            <br>
                            <p>
                                Forro estampado relleno de vellón. Consulte por tamaños y motivos
                            </p>
                        </div>

                        <div class="card">
                            <img src="img/producto-almohadon-estampado-detalle.webp" alt="" height="auto" width="100%" >
                        </div>

                        <div class="especificaciones text-center text-muted">
                            <p>
                                <i class="bx bxl-facebook"></i> <a
                                href="https://www.facebook.com/carlos.villalba.9231712">Mi Facebook</a>
                            </p>
                            <p>
                                <i class="bx bxl-instagram"></i> <a href="https://www.instagram.com/valybar2020/">Mi
                                    Instagram</a>
                            </p>
                            
                        </div>

                        <div class="boton-volver">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
